body,
html {
	overflow-x: hidden;
	margin: 0;
	width: 100%;
	/* font-family: 'Open Sans', sans-serif; */
}
a,
a:hover {
	text-decoration: none;
}

nav {
	margin-top: 0px;
	background: #01a1fe;
	height: 100%;
}
nav a {
	color: #fff;
}
nav .logo {
	font-size: 20px;
	font-weight: 500;
	padding: 20px 10px;
}
nav ul {
	display: inline-flex;
	list-style-type: none;
	font-size: 15px;
	margin-top: 20px;
	float: right;
}

nav ul li {
	margin-right: 15px;
}

.content {
  padding: 10px 20px;
  min-height: 90vh;
}

.content .button button {
	border: 2px solid #01a1fe;
	color: #01a1fe;
	padding: 10px 15px;
  top: 25px;
  font-size: 16px;
  cursor: pointer;
	float: right;
	position: relative;
}

.content .button button:hover {
	background: #01a1fe;
	color: #fff;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}
.modal-main {
	position: fixed;
	background: white;
	width: 60%;
	height: auto;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
}

.modalHeading {
  font-size: 20px;

}

.display-block {
	display: block;
}

.display-none {
	display: none;
}
.modal-main .form .inputType{
  align-items: center;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    font-size: 16px;
    padding: 2px 8px;
    margin: 15px 0px;
}
.form{
  margin: 20px 0px;
}

.form label{
  font-size: 15px;
  font-weight: 300;
}

.form .css-2b097c-container{
  margin: 15px 0px;
}

.modal-main button{
  border: 2px solid ;
	padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
}

.modal-main .closeButton{
  border-color: #ff0000;
  color: #ff0000;
}

.modal-main .closeButton:hover{
  background: #ff0000;
  color: #fff;
}

.modal-main .addButton{
  border-color: #00ad14;
  color: #00ad14;
  margin-right:10px; 
}

.modal-main .addButton:hover{
  background: #00ad14;
  color: #fff;
}

.Toastify__toast--success{
  background: rgba(7, 188, 19,0.7)
}

/* .homePageForm{

} */

.homePageForm label{
  font-size: 15px;
  font-weight: 300;
}

.homePageForm .inputType{
  align-items: center;
    background-color: hsl(0,0%,100%);
    border-color: hsl(0,0%,80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    font-size: 16px;
    padding: 2px 8px;
    margin: 15px 0px;
}

.homePageForm .css-2b097c-container{
  margin: 15px 0px;
}


